@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Overpass";
}
::selection {
  background-color: var(--orange);
  color: #eee;
}
::-moz-selection {
  background-color: var(--orange);
  color: #eee;
}
:root {
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(210, 19%, 18%);
  --dark-blue: hsl(215, 23%, 14%);
  --very-dark-blue: hsl(216, 12%, 8%);
}
html,
body {
  height: 100%;
}
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
body {
  font-size: 15px;
  font-weight: 400;
  background-color: var(--very-dark-blue);
  color: var(--light-grey);
  display: grid;
  place-items: center;
}
main {
  background-color: var(--dark-blue);
  padding: 25px;
  border-radius: 15px;
  margin-block-end: 20px;
  max-width: 375px;
}
.star {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--medium-grey);
  display: grid;
  place-items: center;
  margin-block-end: 20px;
}
h1 {
  color: #eee;
  font-weight: 700;
  font-size: 25px;
  margin-block-end: 15px;
}
.content {
  margin-block-end: 25px;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 25px;
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--medium-grey);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--light-grey);
  transition: background-color 0.1s ease-in;
  font-size: inherit;
}
input[type="radio"]:hover {
  cursor: pointer;
  background-color: var(--light-grey);
  color: #eee;
}
input[type="radio"]:checked {
  background-color: var(--orange);
  color: #eee;
}
input[type="radio"]:nth-child(1):after {
  content: "1";
}
input[type="radio"]:nth-child(2):after {
  content: "2";
}
input[type="radio"]:nth-child(3):after {
  content: "3";
}
input[type="radio"]:nth-child(4):after {
  content: "4";
}
input[type="radio"]:nth-child(5):after {
  content: "5";
}
button.submit {
  text-transform: uppercase;
  border: none;
  background-color: var(--orange);
  color: #eee;
  font-size: inherit;
  letter-spacing: 2px;
  width: 100%;
  padding-block: 10px;
  border-radius: 35px;
  font-weight: 700;
  transition: background-color 0.1s ease-in;
}
button.submit:hover {
  background-color: #eee;
  color: var(--orange);
  cursor: pointer;
}

/* ThankYou */
.thank-you-img {
  margin-block-end: 20px;
  text-align: center;
}
.selected {
  background-color: var(--medium-grey);
  border-radius: 20px;
  padding: 10px;
  color: var(--orange);
  margin-block-end: 30px;
  text-align: center;
}
h1.center {
  text-align: center;
}
p.thanks-text {
  margin-block-end: 20px;
  text-align: center;
}

@media (min-width: 375px) {
  body {
    font-size: 17px;
  }
  .star {
    margin-block-end: 30px;
  }
  h1 {
    font-size: 30px;
  }
  .options {
    margin-block-end: 30px;
    gap: 20px;
  }
  button.submit {
    margin-block-end: 10px;
    padding: 15px 0px;
  }
  .thank-you-img {
    margin-block-end: 30px;
  }
  .selected {
    margin-block-end: 30px;
  }
}
.hide {
  display: none;
}
